[Unit]
Description=SH-RPi Daemon
After=syslog.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/shrpid -s /var/run/shrpid.sock

[Install]
WantedBy=multi-user.target
